/* #article_body {
  display:flex
} */

#article-body {
text-align: center;

}

#article-body p {
text-align: left;
}

.title {
  /* text-align:left;
  margin-left: 20px; */
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

/* #topicName {
  margin: 50;
} */