/* #article_body {
  display:flex
} */

#article-body {
text-align: center;

}

#article-body p {
text-align: left;
}

.custom-carousel {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: auto;
}

.custom-carousel .carousel-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.page-container {
  margin: 2%;
}